includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
  level: max
  paths:
    - src
  excludePaths:
    - */tests/*
    - */languages/*
    - */node_modules/*
    - */vendor/*
